@tailwind base;
@tailwind components;
@tailwind utilities;

.Modal {
    position: absolute;
    top: 90px;
    left: 250px;
    right: 250px;
    bottom: 90px;
    background-color: #fff;
    border-radius: 1rem;
    padding: 2rem 1rem;
  }

  .Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
  }